@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');


$dark: #222;
$medium: #767676;
$light: #fff;
$primary: #14446a;

$main-font: 'Roboto', sans-serif;
$display-font: 'Poppins', sans-serif;

$base-font-size: 15px;
$base-line-height: 30px;
$base-gap: 12px;

$h1-font-size: 30px;
$h2-font-size: 26px;
$h3-font-size: 24px;
$h4-font-size: 22px;
$h5-font-size: 20px;
$h6-font-size: 18px;

